<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" autocomplete="off" (ngSubmit)="crearUsuario()" [formGroup]="registerForm">

                    <h3 class="box-title m-b-20 ">Sign Up</h3>
                    <div class="form-group ">
                        <div class="col-xs-12 ">
                            <input class="form-control " type="text " placeholder=" Nombre " formControlName="nombreUsuario">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12 ">
                            <input class="form-control " type="email" placeholder="Email " formControlName="email">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-xs-12 ">
                            <input class="form-control " type="password" required=" " placeholder="Password " formControlName="password">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12 ">
                            <input class="form-control " type="password" required=" " placeholder="Confirm Password " formControlName="passwork2">
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-md-12 ">
                            <div class="checkbox checkbox-primary p-t-0">
                                <input type="checkbox" id="cbox2" formControlName="terminos"> <label for="cbox2"> I agree to all Terms</label>
                                <!--
                                <input id="checkbox-signup" type="checkbox " formControlName="terminos">
                                <label for="checkbox-signup "> I agree to all <a href="javascript:void(0) ">Terms</a></label> -->
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col tex-danger">
                            <p *ngIf="campoNoValido('nombreUsuario')"> nombre incorrecto</p>
                            <p *ngIf="campoNoValido('email')"> Email no Valido </p>
                            <p *ngIf="validarContrasenia()">Las Contrasenias deben ser iguales</p>
                            <p *ngIf="campoTerminoValidador('terminos')"> Acepte Terminos y Condiciones</p>
                        </div>
                    </div>

                    <div class="form-group text-center p-b-20 ">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light " type="submit ">Sign Up</button>
                        </div>
                    </div>

                    <div class="form-group m-b-0 ">
                        <div class="col-sm-12 text-center ">
                            Already have an account? <a routerLink="/login"><b>Sign In</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->